USE [master]
GO
/****** Objeto: Database [VetCareBD_60MN] Fecha de script: 23/06/2026 16:51:08 ******/
CREATE DATABASE [VetCareBD_60MN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VetCareBD_60MN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\VetCareBD_60MN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VetCareBD_60MN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\VetCareBD_60MN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VetCareBD_60MN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VetCareBD_60MN]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[NombreOperacion] [varchar](120) NOT NULL,
	[Descripcion] [varchar](120) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Criticidad] [int] NOT NULL,
	[FechayHora] [datetime] NOT NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dvv] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvv](
	[tabla] [varchar](30) NOT NULL,
	[dvv] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Idioma] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[IdiomaID] [int] NOT NULL,
	[Descripcion] [varchar](8) NOT NULL,
	[Seleccionado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdiomaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[OPERACION] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[OperacionID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[PatenteEscencial] [varchar](2) NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OperacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PerfilOperacion] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilOperacion](
	[OperacionID] [int] NULL,
	[PerfilUsuarioID] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PerfilUsuario] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilUsuario](
	[PerfilUsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [varchar](50) NOT NULL,
	[DescPerfil] [varchar](50) NOT NULL,
	[DVH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](80) NOT NULL,
	[Clave] [varchar](120) NOT NULL,
	[Nombre] [varchar](90) NOT NULL,
	[Apellido] [varchar](90) NOT NULL,
	[DNI] [int] NULL,
	[Email] [varchar](70) NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[FlagIntentosLogin] [int] NOT NULL,
	[DVH] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioFamilia] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioFamilia](
	[PerfilID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Actual] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuariooperacion] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuariooperacion](
	[UsuarioID] [int] NOT NULL,
	[OperacionID] [int] NOT NULL,
	[Habilitado] [varchar](2) NOT NULL,
	[DVH] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerfilUsuario] ADD  DEFAULT ((0)) FOR [DVH]
GO
ALTER TABLE [dbo].[PerfilOperacion]  WITH CHECK ADD FOREIGN KEY([OperacionID])
REFERENCES [dbo].[OPERACION] ([OperacionID])
GO
ALTER TABLE [dbo].[PerfilOperacion]  WITH CHECK ADD FOREIGN KEY([PerfilUsuarioID])
REFERENCES [dbo].[PerfilUsuario] ([PerfilUsuarioID])
GO
ALTER TABLE [dbo].[UsuarioFamilia]  WITH CHECK ADD FOREIGN KEY([PerfilID])
REFERENCES [dbo].[PerfilUsuario] ([PerfilUsuarioID])
GO
ALTER TABLE [dbo].[UsuarioFamilia]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[usuariooperacion]  WITH CHECK ADD FOREIGN KEY([OperacionID])
REFERENCES [dbo].[OPERACION] ([OperacionID])
GO
ALTER TABLE [dbo].[usuariooperacion]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RealizarBackup] 
@CANT INT

AS

IF @CANT = 3
 EXEC RealizarBackup3Partes

 IF @CANT = 5
 EXEC RealizarBackup5Partes
 
 IF @CANT = 10

 EXEC RealizarBackup10Partes
GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup10Partes] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[RealizarBackup10Partes]
  AS
    
 
BEGIN
BACKUP DATABASE VetCareBD_60MN
TO DISK = 'C:\backup\parte1.Bak',
DISK = 'C:\backup\parte2.Bak',
DISK = 'C:\backup\parte3.Bak',
DISK = 'C:\backup\parte4.Bak',
DISK = 'C:\backup\parte5.Bak',
DISK = 'C:\backup\parte6.Bak',
DISK = 'C:\backup\parte7.Bak',
DISK = 'C:\backup\parte8.Bak',
DISK = 'C:\backup\parte9.Bak',
DISK = 'C:\backup\parte10.Bak'


END

GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup3Partes] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RealizarBackup3Partes] 
 
AS
BEGIN
BACKUP DATABASE VetCareBD_60MN
TO DISK = 'C:\backup\parte1.Bak',
DISK = 'C:\backup\parte2.Bak',
DISK = 'C:\backup\parte3.Bak'
END

 
GO
/****** Objeto: StoredProcedure [dbo].[RealizarBackup5Partes] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[RealizarBackup5Partes]
  AS
    
 
BEGIN
BACKUP DATABASE VetCareBD_60MN
TO DISK = 'C:\backup\parte1.Bak',
DISK = 'C:\backup\parte2.Bak',
DISK = 'C:\backup\parte3.Bak',
DISK = 'C:\backup\parte4.Bak',
DISK = 'C:\backup\parte5.Bak'

END

GO
/****** Objeto: StoredProcedure [dbo].[SumarFlagIntentos] Fecha de script: 23/06/2026 16:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* ******************
**STORES PROCEDURES**
******************* */
CREATE PROCEDURE [dbo].[SumarFlagIntentos] 
@usuid int
AS

declare @flag int = 0;
BEGIN

  select @flag = FlagIntentosLogin
   from usuario
   where UsuarioID= @usuid
  select @flag = @flag +1;
   update usuario set FlagIntentosLogin = @flag
   where UsuarioID = @usuid
END

/* ******************
**ALGUNOS INSERTS**
******************* */
GO
USE [master]
GO

/* ******************
**ALGUNOS INSERTS**
******************* */
GO
USE [master]
GO





insert into PerfilUsuario values ('Soporte','Hace Soporte',null)

insert into Idioma values(1,'Español',1)
insert into Idioma values(2,'Ingles',0)

insert into OPERACION(Descripcion,patenteescencial) VALUES	('login','S'),
	('menuusuarios','S'),
	('modificarperfilusuario','S'),
	('calculardigitosverificadores','S'),
	('digitosverificadores','S');
insert into operacion values('HacerRestore','S')
 insert into OPERACION values('ConfigurarIdioma','N')
 




   insert into usuariooperacion(UsuarioID,OperacionID,Habilitado) values (1,1018,'S')
   
insert into usuario values ('Test','xSwdFW81PYo=','Test','Test',12345,'Test@test.com.ar',1,0,0)

 insert into usuariooperacion(UsuarioID,OperacionID,Habilitado) values (1,1,'S')
insert into usuariooperacion(UsuarioID,OperacionID,Habilitado) values (1,2,'S')
 
 
 

 insert into dvv values ('PerfilUsuario',null)
insert into dvv values ('OperacionUsuario',null)
insert into dvv values ('PerfilOperacion',null)
 


 
 

 insert into perfiloperacion values
(1,1),
(2,1),
(3,1),
(4,1),
(5,1),
(7,1),
(8,1),
(9,1),
(10,1),
(11,1),
(12,1)








